:root {
    --start-sec: 0;
    --start-min: 30;
    --start-hour: 9;
    --clock-border-color:#ed3b53;
    --sec-hand-color:#ed3b53;
    --min-hand-color:#ed3b53;
    --hour-hand-color:#ed3b53;
    --dot-color: #ed3b53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock {
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: rgba(255, 228, 196, 0.49);
    border-radius: 50%;
    border: 40px solid var(--clock-border-color);
    top: 20vh;
    left: 20vh;
    box-shadow: rgba(174, 71, 78, 0.17) 30px 40px;
}

.line {
    width: 10px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50% ;
}

.hours {
    height: 150px;
    width: 12px;
    background-color: var(--hour-hand-color);
    transform-origin: bottom;
}


.mint {
    height: 165px;
    width: 7px;
    background-color: var(--min-hand-color);
    transform-origin: bottom;
}

.sec {
    height: 170px;
    width: 2px;
    background-color: var(--sec-hand-color);
    transform-origin: bottom;
}

/*for positioning all 1-12 div*/

.numbers{
    position: absolute;
    left: 50%;
    font-size: 2rem;
}

.num:nth-child(1){
    position: absolute;
    top: 0;
    left: -15px;
}

.num:nth-child(2){
    position: absolute;
    top: 20px;
    left: 80px;
}

.num:nth-child(3){
    position: absolute;
    top: 80px;
    left: 140px;
}

.num:nth-child(4){
    position: absolute;
    top: 165px;
    left: 165px;
}

.num:nth-child(5){
    position: absolute;
    top: 250px;
    left: 140px;
}

.num:nth-child(6){
    position: absolute;
    top: 310px;
    left: 80px;
}

.num:nth-child(7){
    position: absolute;
    top: 335px;
    left: -5px;
}

.num:nth-child(8){
    position: absolute;
    top: 315px;
    left: -90px;
}

.num:nth-child(9){
    position: absolute;
    top: 255px;
    left: -155px;
}

.num:nth-child(10){
    position: absolute;
    top: 165px;
    left: -180px;
}

.num:nth-child(11){
    position: absolute;
    top: 80px;
    left: -160px;
}

.num:nth-child(12){
    position: absolute;
    top: 20px;
    left: -95px;
}

/*for center dot*/
.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid var(--dot-color);
    border-radius: 50%;
    transform: translate(-7px, -10px);
    height: 20px;
    width: 20px;
    z-index: 10;
    background-color: white;
}